@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes flash {
  0% {
    background-color: rgb(14 165 233);
  }
  100% {
    background-color: transparent;
  }
}
